body {
  text-align: center;
  background-color: #1E2022;
  color: #F0F5F9;
}

footer{
  color: #fff;
  padding: 2% 20%;
}
.container-fluid{
  padding: 2% 12%;
}
.card{
  width: 20rem;
}

.bi{
  color: #F0F5F9;
}

#pricipal{
  background-color: #C9D6DF;
  color: #1E2022;
}

