/*Fontes
font-family: 'Arvo', serif;
font-family: 'Caveat Brush', cursive;
font-family: 'Source Sans Pro', sans-serif; */

/*====================TAGS====================*/
body{
    
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    /*Para tamanho de fonte 1em = 16px = 100%*/ 
    font-size: 100%;
    margin: 0;
    
}
h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 600%;
    font-weight: normal;
    margin: 0;
}
h2{
    font-family: 'Arvo', serif;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-weight: bold;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
a{
    color: #E8F1F5;
    text-decoration: none;
}
a:hover{
    color: black;
}

hr{
    border: 10px dotted #112D4E;
    border-style: dotted none none;
    width: 7%;
    margin: 3% auto 3% auto;
}

/*====================CLASSES====================*/
/*Classes gerais*/
.acima{
    background-color: #004A7C;
    color: #E8F1F5;
    position: relative;
    display: block;
    height: auto;
    margin: auto;
    padding: 15px 0;
}

.meio{
    background-color: #FAFAFA;
    color: #005691;
    position: relative;
    display: block;
    height: auto;
    margin: auto;
    padding: 15px 0;
}

.abaixo{
    background-color: #004A7C;
    color: #E8F1F5;
    position: relative;
    display: block;
    height: auto;
    margin: auto;
    padding: 15px 0;
    font-size: 140%;
}

/*Classes específicas*/
.Perfil{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0% 15%;
}
.FotoPerfil{
    width: 250px;
    height: auto;
}
.Desc-perfil{
    margin: 0 5% 0 5%; 
}
.sobremim{
    margin: 0%  15%;
    text-align: center;
    line-height: 1;
    text-align: justify;
    font-size: 120%;
}
.formacao-academica{
    margin: 0 15%;
}
.linha-form{
    font-size: 140%;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30% 20% 50%;
    line-height: 2.1;
    align-items: center;
    text-align: left;
    min-width: 600px;
}
.experiencias{
    margin: 0 15%;
}
.habilidades{
    margin: 0 15%;
}
.icone-texto{
    width: 60px;
}
.titulo-texto{
    margin-left: 35px;
    text-align: left;
}
.titulo-base{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    font-size: 140%;
}
.linha-hab1{
    display: inline-grid;
    width: auto;
    grid-column-gap: 20px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    line-height: 1.5;
    text-align: left;
    height: auto;
}
.linha-hab2{
    display: inline-grid;
    width: auto;
    grid-column-gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
    line-height: 1.5;
    text-align: left;
    height: auto;  
}
.linha-hab-geral{
    font-size: 140%;
    display: flex;
    flex-flow: row wrap;
    width: auto;
    justify-content: space-around;
}
.sub-titulo-hab{
    margin-top: 10px;
    flex-grow: 1;
    display: block;
    width: auto;
    text-align: left;
    line-height: 2;
}
.contato{
    position: block;
    display: grid;
    column-gap: 40px;
    grid-template: 
    'cel redes'
    'email redes';
    margin: 7px 20%;
    height: auto;
    justify-content: center;
}
.Icone{
    width: 30px;
}
.redes-sociais{
    grid-area: redes;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 13px;
    text-align: left;
    align-items: center;

}
.cel{
    margin: 0;    
    grid-area: cel;
    text-align: left;
}
.email{
    margin: 0;
    grid-area: email;
    text-align: left;
}
