* {
  background-color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  color: #829460;
  text-align: center;
}

footer{
  padding-top: 5%;
  font-size: 2rem;
}

h1{
  margin: 30px;
  font-size: 6rem;
  font-family: 'lobster', cursive;
  text-shadow: 6px 0 #674747;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 2.5rem;
}

img{
  width: 250;
}

button{
  font-family: 'lobster', cursive;
  font-size: 4rem;
  background-color: #829460;
  font-weight: bold;
}

.container-fluid{
    padding: 2% 15%;
}
